@import '../scss/variables.scss';
.button{
    background-color: transparent;
    border: none;
    transition: .1s linear;
    display: flex;
    flex-wrap: nowrap;
    cursor: pointer;
    &:hover{
        color: $secondary;
    }
}
.withBorder{
    padding: 17px 59px ;
    border: 3px solid $primary;
    border-radius: 20px;
    &:hover{
        background-color: $primary;
    }
}
.contained{
    padding: 18px 86px;
    background-color: $primary;
    border: 1px solid $primary;
    font-family: 600;
    color: $white;
    transition: .1s linear;
    border-radius: 20px;
    margin-top: 50px;
    display: inline-block;
    &:hover{
        background-color: $secondary;
        color: $primary;
    }
}
.light{
    padding: 18px 86px;
    background-color: $secondary;
    border: 1px solid $secondary;
    color: $primary;
    transition: .1s linear;
    border-radius: 20px;
    margin-top: 50px;
    display: inline-block;
    &:hover{
        background-color: $primary;
        color: $secondary;
    }
}

@media screen and (max-width:1024px){
    .withBorder{
        padding: 10px 30px ;
    }

    .button{
       font-size: 14px;
    }
    .contained{
        padding: 10px 30px;
    }
    .light{
        padding: 10px 30px;
    }
}