.contact{
    padding: 200px 0 300px;
    background-image: url('../assets/images/background-team-left.svg');
    background-repeat: no-repeat;
    background-position: 0 300%;
}
.wrapper{
    display: grid;
    padding: 0 100px;
    grid-template-columns: 45% 50%;
    gap: 5%;
}
.list{
    margin-top: 50px;
}
.label{
    font-weight: 600;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}
.value{
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    display: flex;
    align-items: center;
    opacity: .7;
}
.item{
    margin-top: 30px;
}
.form{
    &__title{
        font-weight: 600;
        font-size: 40px;
        line-height: 42px;
        padding-bottom: 50px;
    }
    .input{
        margin-bottom: 25px;
    }
}

@media screen and (max-width:1024px){
    .wrapper{
        padding: 0;
    }
}

@media screen and (max-width: 768px){
    .contact{
        padding: 100px 0;
        background-size: 170px 344px ;
        background-image: url('../assets/images/background-team-right.svg');
        background-position: 100% 120%;
    }

    .wrapper{
        display: flex;
        flex-direction: column;
    }

    .list{
        margin-top: 30px;
    }

    .label{
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 2px;
    }

    .value{
        font-size: 14px;
        line-height: 15px;
    }

    .item{
        margin-top: 15px;
    }

    .form{
        &__title{
            font-size: 20px;
            line-height: 22px;
            padding-bottom: 25px;
        }
        .input{
            margin-bottom: 15px;
        }
    }
}