@import '../scss/variables.scss';

.duty{
    padding: 150px 130px 150px 0;
    background-color: $primary;
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 10%;
}

.heading, text{
    color: $secondary;
}
.image{
    width: 750px;
    max-width: 100%;
}