@import '../scss/variables.scss';
.experience{
    margin-top: 100px;
    font-weight: 500;
    font-size: 25px;
    line-height: 28px;
    padding-bottom: 300px;
    background-image: url('../assets/images/experience.svg');
    z-index: -1;
    background-repeat: no-repeat;
    background-position: 90% 70%;
    background-size: 600px;
    margin-bottom: 100px;
}

.heading{
    width: 982px;
}
.text{
    max-width: 600px;
}