@import '../scss/variables.scss';
.footer{
    padding: 100px 0 50px;
    background-color: $primary;
    max-width: 100vw;
}
.logo{
    margin-right: 150px;
    &__image{
        transition: .2s linear;
        &:hover{
            cursor: pointer;
            opacity: .7;
        }
    }
}
.wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.heading{
    color: $secondary;
    margin-bottom: 30px;
}
.link{
    color: $secondary;
    transition: .2s linear;
    &:hover{
        opacity: .7;
    }
}
.address{
    color: $secondary;
}
.navigation{
    display: flex;
    flex-wrap: wrap;

}
.item{
    margin-bottom: 15px;
}
.column{
    margin-top: 30px;
    margin-right: 50px;
}
