@import '../scss/variables.scss'; 

.select{
    background-color: transparent;
    border: none;
    &:hover{
        color: $secondary;
        transition: .1s linear;
    }
}
.light{
    color: $secondary;
}