@import '../scss/variables.scss';

.menu{
    background-color: $primary;
    width: 100vw;
    height: 100%;
    transition: .5s ease-out;
    transform: translateX(100%);
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
}

.list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link{
    color: #ffffff;
    font-weight: 500;
    font-size: 24px;
    line-height: 26px;
}

@media screen and (max-width:768px){
    .menu{
        display: flex;
    }
    .active{
        transform: translate(0);
    }

}


