@import '../scss/variables.scss';

.tradition{
    padding-top: 135px;
    min-height: 150vh;
    padding-bottom: 200px;
    
}
.heading{
    text-align: center;
    font-family: $secondary-font; 
    font-size: 80px;
    line-height: 106%;
    max-width: 600px;
    margin: 0 auto;
    
    .arabic{
        font-size: 130px;
        font-family: $third-font;
        font-weight: 400;
    }
}
.content{
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    text-align: center;
    max-width: 552px;
    text-align: center;
    margin: 30px auto 0;
}

.article{
    margin-top: 150px;
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 10%;
    &__text{
        width: 100%;
        margin-right: 100px;
    }
    &__heading{
        font-weight: 500;
        font-size: 50px;
        line-height: 55px;
        max-width: 100%;
    }
    &__content{
        opacity: .7;
        width: 100%;
    }
    &__image{
        display: flex;
        align-items: center;
    }
}
.image{
    max-width: 100%;
    border-radius: 60px;
    box-shadow: -30px 50px 0 0 $primary;
}

@media screen and (max-width:768px) {
    .tradition{
    padding-top: 42px;
    padding-bottom: 30px;
    background:  url('../assets/images/background-image-left.svg') 0 100px,  url('../assets/images/background-image-right.svg') 100% 500px;
    background-repeat: no-repeat;
    background-size: 170px 344px;
    
}
.heading{
    font-size: 50px;

    .arabic{
        font-size: 80px;
    }
}
.content{
    font-size: 14x;
    margin: 15px auto 0;
}

.article{
    margin-top: 82px;
    display: flex;
    flex-direction: column;
    &__text{
        margin-right: 0;
    }
    &__heading{
        font-size: 20px;
        line-height: 106%;
    }
    &__content{
        opacity: 1;
    }
    &__image{
        margin-top: 30px;
        display: flex;
        align-items: center;
    }
    .image{
        max-width: 100%;
        border-radius: 30px;
        box-shadow: -5px 10px 0 0 $primary;
    }
}
}