.tradition{
    min-height: 150vh;
    background: radial-gradient(50% 50% at 0% 30%, rgba(255, 184, 0, 0.22) 0%, rgba(213, 115, 0, 0) 100%), radial-gradient(80% 80% at 70% 60%, rgba(232, 0, 42, 0.19) 0%, rgba(213, 0, 25, 0) 100%), radial-gradient(50% 50% at 30% 90%, rgba(227, 232, 0, 0.24) 0%, rgba(213, 204, 0, 0) 100%), url('../assets/images/background-image-left.svg') 0 100px;
    background-repeat: no-repeat;
    
}
.heading{
    
}