@import '../scss/variables.scss';
.work{
    background-color: $primary;
    padding: 200px 0;
}
.wrapper{
    display: grid;
    grid-template-columns: 45% 45% ;
    gap: 10%;
}
.left{
    &__image{
        width: 780px;
    }
}
.right{
    &__image{
        width: 636px;
    }
}
.heading, .text, .caption, .subheading, .year{
    color: $secondary;
}   
.content{
    margin-top: 100px;
}


@media screen and (max-width: 768px) {

.work{
    background-color: $primary;
    padding: 50px 0;
}

.wrapper{
   display: flex;
   flex-direction: column-reverse;
}

.left{
    margin-top: 30px;
}

.right{

    &__image{
        margin-top: 30px;
    }

    display: flex;
    flex-direction: column-reverse;
}

.text{
    opacity: .7;
}

.content{
    margin-top: 0;
}
}
