@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@400;500;600;700&family=Marcellus&display=swap');
@import url('https://fonts.cdnfonts.com/css/ramadhan-amazing');
@import './variables/variables.scss';
                
*{
  box-sizing: border-box;
  color: $primary;
  font-size: 20px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: $primary;
  font-family: $primary-font;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
